{% extends 'navbar.html' %}
{% block  content %}
<div class="container-fluid p-0">


        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
            <h2 class="mb-5">Experience</h2>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Python Developer</h3>
                <div class="subheading mb-3">Simplilearn</div>
                <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
<ul class="list-unstyled">
  
  <li>Python Django Developer:
    <ul>
    <li>Wrote<mark>Python Scripts</mark>to parse <mark>xml documents</mark> and load the <mark>data in the database.</mark> </li>
       <li>Developed<mark>Websites</mark>both<mark>Frontend and Backend</mark>modues using <mark>Django Web Framework.</mark> </li>
       <li><mark>Djano Webapp</mark>in platform as a service<mark>PAAS</mark>in<mark>amazon web service app.</mark> </li>
       <li>Queried<mark>MYSQL database</mark>queries from <mark>python</mark>using<mark>Python MYSQL Connector</mark>and<mark>MYSQL DB Package</mark>to retrieve information. </li>
       <li><mark>Managed,developed</mark>and <mark>designed</mark>a dashboard<mark>control panel</mark>for<mark>customers</mark>and<mark>administrators</mark>using<mark>Django,Postgresql. </li>
       <blockquote class="Tech Stack">
       <p>Tech Stack  : GITHUB,PYTHON,DJANGO,MYSQL,POSTGRESQL</p>
    </blockquote>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">February 2021 - December 2021</span>
            </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">SAP HANA ERP Implementation</h3>
                <div class="subheading mb-3">AWRostamani Logistics</div>
                <p>Educated so that the user can understand how to optimally install and maintain the system.New user needed training as they join so it need a long term plan.CRM touched every part of the module.</p>
                <ul class="list-unstyled">
  
  <li>SAP Logistics Consultant:
    <ul>
      <li><mark>Installing</mark>and<mark>Configuring</mark>business application based on SAP.</li>
      <li><mark>Planning Project</mark>schedules.</li>
      <li><mark>Supervising</mark>and<mark>Maintaining MS SQL backups</mark>and<mark>SQL Servers</mark>.</li>
      <li><mark>Recommending and responding</mark> to <mark>issues and questions</mark> regarding <mark>software implementation.</mark></li>
      <li><mark>Creating reports</mark> by using queries, user-defined fields, formatted searches and user-defined tables.</li>
      <li>Conducting <mark>training</mark> for users on <mark>SAP functionality and Customers.</mark>.</li>
      <li>Assisting users regarding screen and menu development to streamline their process flow.</li>
    </ul>
  </li>
  <blockquote class="Tech Stack">
       <p>Tech Stack  : SAP S/4HANA,VB.NET,C#.NET,MSSQL</p>
    </blockquote>
</ul>

            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">May 2017 - March 2018</span>
            </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">SAP Technical Consultant</h3>
                <div class="subheading mb-3">Indus Novateur Software Private Limited</div>
                <p>Creating Production Orders either automatically from MRP Recommendations or manually according to Sales Orders.Once the Production Order is available the child items from inventory using issue for production method. Child item with a backflush issue method are issued automatically then the report for the completion of the parent item will take place.Finally the Order Status will get closed.</p>
                <ul class="list-unstyled">
  
  <li>SAP Module Developer:
    <ul>
    <li>Development of customized <mark>CRM reports</mark> like <mark>ZONEORDER, ZBPR and ZSURVEY</mark> according to the client requirement. </li>
       <li>Maintenance of <mark>Adobe forms</mark> which were used as part of<mark>LSO </mark>correspondence. </li>
       <li><mark>Developed <mark>adobe forms</mark> for <mark>SD module</mark> which <mark>displays</mark> the <mark>total amount page-wise subtotals and grand totals.</mark> </li>
       <li>Developed a <mark>workflow</mark> which sends <mark>automatic email</mark> when registering an applicant.</li>
       <li>Worked on <mark>barcode printing in adobe forms.</mark></li>
       <li>Generated <mark>reports</mark> for listing <mark>purchase orders based on <mark>vendors, materials and PO number.</mark></li>
       <blockquote class="Tech Stack">
       <p>Tech Stack  : SAP ABAP,C SQL 2000/2005</p>
    </blockquote>
            </div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">July 2010 - January 2012</span>
            </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Web Design Intern</h3>
                <div class="subheading mb-3">MultiMedia Productions</div>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
            </div>
            
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">September 2008 - June 2010</span>
            </div>

        </div>

        </section>

        <hr class="m-0">

</div>
{% endblock %}